{% extends "indice.html" %}
{% block titulo %}
Agregar alumno
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Agregar Alumno</h3>
            <form action="{{url_for('guardar_alumno')}}" method="post">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="nombre" name="nombre" id="nombre">
                <label for="descripcion">nota</label>
                <input required type="text" class="input" placeholder="nota" name="nota" id="nota">
                <label for="precio">edad</label>
                <input required type="number" class="input" placeholder="edad" name="edad" id="edad">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('alumnos')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}